body {
	font-family: Verdana, sand-serif;
	font-weight: 600;
	font-size: 13px;
	color: #4F545F;
	margin:  0;
	padding: 0;
	background-color: #FFEB5B;
}
p{
	font-family: Verdana, sand-serif;
	font-size: 15px;
	color: #4F545F;
	margin:  0;
	padding: 0;
}

h1{
	background-color: #DE4A00;
	margin: 0;
	padding: 20px;
	color: white;
}
h2{
	background-color: #FFEB5B;
	margin: 0;
	padding: 20px;
	color: #4F545F;
	text-align: center;
}
fieldset{
	border: 2px dashed #094074;
	margin: 30px auto;
	padding: 50px;
	width: 300px;
}

div.images {
	margin-right: auto;
	margin-left: 0;
	background-color: #DE4A00;
}

legend{
	font-size: 1.3em;
	font-weight: 900;
}

h3 {
	font-weight: 900;
	font-style: italic;
}

fieldset > span#InformationSpan{
	background: url('../images/infoicon.png') no-repeat center left #CCE9F8;
	border: 1px solid #6278B0;
	color: #42579C;
	padding:  20px 40px;
	display: block;
}

fieldset >span{
	color: #FF0000;
}

.formElement{
	font-size: 1em;
	padding: 5px 10x;
	width: 300px;
}

select{
	font-size: 2em;
	width: 250px;
}

#LoginBtn{
	text-align: center;
	background: #094074;
}
#RegistrationBtn{
	text-align: center;
	background: #094074;
}
#cancelbtn{
	text-align: center;
	background: #D9534F;
}
.idWrongCredentials{
	background-color: #FF0000;
	margin: 0;
	padding: 20px;
	color: black;
	align-self: center;
	visibility: hidden;
}

input[type=submit]{
	padding: 10px 20px;
	font-size: 1.3em;
	color: white;
	background-color: #094074;
	margin: 0 0 0 20px;
	border: 0;
	border-radius: 10px
}

input[type=submit]:hover{
	cursor: pointer;
}

input[type=text]{
   width: 75%;
}

input[type=password]{
   width: 75%;
}

#addressBox{	
   padding: 10px 10px 20px;
   box-sizing: border-box;
}

ul#menu{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #094074;
	overflow: hidden; /*Desconecta los elementos extra*/
	text-align: center;
	color: white;
}
ul#menu li{
	padding: 20px 50px 20px 50px;
	display: inline-block;
}

ul#menu li:hover, ul#menu li.selected{
	background-color: #2C8FDB;
	color: black;
	cursor: pointer;
}